$side-nav-width: 200px;
$app-header-height: 70px;
$primary-theme-clr: #ea751b;
$error-color: #FF5766;
$input-text-clr: #253858;
$dark-grey: #aaa;
$white-clr: #fff;
$table-header-clr: #e67116;;
$table-content-clr: #464343;
